In [16]:
import pandas as pd

array = [3,6,9,12,15,18]

series_obj = pd.Series(array)

arr = series_obj.values

arr

array([ 3,  6,  9, 12, 15, 18], dtype=int64)

In [17]:
#reshaping series
reshaped_arr = arr.reshape((2,3))

#show
reshaped_arr

array([[ 3,  6,  9],
       [12, 15, 18]], dtype=int64)

In [18]:
import pandas as pd

array = ['Ron', 'Harry','Hermione','Rachel','Chandler','Pheobe']

series_obj = pd.Series(array)

print("Given Series:\n", series_obj)

arr = series_obj.values

arr

Given Series:
 0         Ron
1       Harry
2    Hermione
3      Rachel
4    Chandler
5      Pheobe
dtype: object

array(['Ron', 'Harry', 'Hermione', 'Rachel', 'Chandler', 'Pheobe'],
      dtype=object)

In [21]:
#reshape series
reshaped_arr = arr.reshape((2,3))

print("After Reshaping: \n", reshaped_arr)

After Reshaping:
 [['Ron' 'Harry' 'Hermione']
 ['Rachel' 'Chandler' 'Pheobe']]

In [23]:
# pandas.pivot(index, columns, values) function produces pivot table based on 3␣
    #columns of the DataFrame.
#Uses unique values from index / columns and fills with values.
#Parameters:
#index[ndarray] : Labels to use to make new frame’s index
#columns[ndarray] : Labels to use to make new frame’s columns
#values[ndarray] : Values to use for populating new frame’s values
#Returns: Reshaped DataFrame
#Exception: ValueError raised if there are any duplicates.

In [24]:
# Create a simple dataframe

# importing pandas as pd
import pandas as pd

# creating a dataframe
df = pd.DataFrame({'A': ['Ron', 'Hermoine', 'Harry',],
                  'B' : ['Masters', 'Graduate','Graduate'],
                  'C' : [27, 23, 21]})

df

          A         B   C
0       Ron   Masters  27
1  Hermoine  Graduate  23
2     Harry  Graduate  21

In [7]:
# values can be an object or a list
df.pivot('A', 'B', 'C')

B     Graduate  Masters
A
Boby      23.0      NaN
John       NaN     27.0
Mina      21.0      NaN

In [9]:
# value is a list
df.pivot(index ='A', columns ='B', values =['C', 'A'])

            C                A
B    Graduate Masters Graduate Masters
A
Boby       23     NaN     Boby     NaN
John      NaN      27      NaN    John
Mina       21     NaN     Mina     NaN

In [10]:
#the pivot table has been created for the given dataset where the
#gender percentage has been calculated

In [11]:
import pandas as pd

# creating dataframe
df = pd.DataFrame({'Name': ['John', 'Sammy', 'Stephan', 'Joe', 'Emily', 'Tom'],
    'Gender': ['Male', 'Female', 'Male',
    'Female', 'Female', 'Male'],
    'Age': [45, 6, 4, 36, 12, 43]})
print("Dataset")
print(df)
print("-"*40)

#categorizing in age groups
def age_bucket(age):
    if age <= 18:
        return '<18'
    else:
        return '>18'
    
df['Age Group'] = df['Age'].apply(age_bucket)

#calculating gender percentage
gender = pd.DataFrame(df.Gender.value_counts(normalize=True)*100).reset_index()
gender.columns = ['Gender', '%Gender']
df = pd.merge(left=df, right=gender, how='inner', on=['Gender'])

#creating pivot table
table = pd.pivot_table(df, index=['Gender', '%Gender', 'Age Group'],
                      values = ['Name'], aggfunc = {'Name': 'count',})

print("Table")
print(table)

Dataset
      Name  Gender  Age
0     John    Male   45
1    Sammy  Female    6
2  Stephan    Male    4
3      Joe  Female   36
4    Emily  Female   12
5      Tom    Male   43
----------------------------------------
Table
                          Name
Gender %Gender Age Group
Female 50.0    <18           2
               >18           1
Male   50.0    <18           1
               >18           2